@import "node_modules/@patternfly/patternfly/sass-utilities/all.scss";

$pf-global--font-path: "./{{ .Site.BaseURL }}/fonts";
$fa-font-path: $pf-global--font-path + "/webfonts";

@import "node_modules/@patternfly/patternfly/patternfly.scss";
@import "node_modules/@patternfly/patternfly/patternfly-addons.scss";

.pf-x-c-avatar-line {
  height: 2.25rem;
}

.pf-x-m-no-decoration {
  text-decoration: none !important;
}

.pf-x-u-text-center {
  text-align: center;
}

.highlight {
  @extend .pf-u-my-md, .pf-c-card, .pf-m-flat;

  > pre {
    @extend .pf-u-p-md;

    overflow-x: auto;
  }
}

.pf-x-c-article__header {
  max-height: 35rem;
  object-fit: cover;
}

.pf-c-avatar--main {
  width: 250px;
  height: 100%;
  object-fit: cover;
}

.pf-x-person__header {
  max-width: 1024px;
  margin: 3rem auto;
}

.pf-x-c-avatar__figcaption {
  margin-left: auto;
  transform: translateY(50%);
}
