@import "@patternfly/patternfly/sass-utilities/all.scss";

$pf-global--font-path: "./{{ .Site.BaseURL }}/assets/fonts";
$fa-font-path: "./{{ .Site.BaseURL }}/assets/fonts/webfonts";

$pf-global--BorderRadius--sm: 8px;

@import "@patternfly/patternfly/patternfly.scss";
@import "@patternfly/patternfly/patternfly-addons.scss";

@import "@fontsource/lato/scss/mixins.scss";
@include fontFace($weight: 400, $display: fallback, $fontDir: "fonts/lato");

$bg: "/img/bg.webp";

:root {
  --pf-global--FontFamily--sans-serif: "Lato", "RedHatText", "Overpass",
    overpass, helvetica, arial, sans-serif;
  --pf-global--FontFamily--heading--sans-serif: "Lato", "RedHatDisplay",
    "Overpass", overpass, helvetica, arial, sans-serif;
  --pf-global--FontFamily--monospace: "Liberation Mono", consolas,
    "SFMono-Regular", menlo, monaco, "Courier New", monospace;
  --pf-global--FontFamily--redhat-updated--sans-serif: "Lato",
    "RedHatTextUpdated", "Overpass", overpass, helvetica, arial, sans-serif;
  --pf-global--FontFamily--redhat-updated--heading--sans-serif: "Lato",
    "RedHatDisplayUpdated", "Overpass", overpass, helvetica, arial, sans-serif;
  --pf-global--FontFamily--redhat--monospace: "RedHatMono", "Liberation Mono",
    consolas, "SFMono-Regular", menlo, monaco, "Courier New", monospace;
  --pf-global--FontFamily--redhatVF--sans-serif: "Lato", "RedHatTextVF",
    "RedHatText", "Overpass", overpass, helvetica, arial, sans-serif;
  --pf-global--FontFamily--redhatVF--heading--sans-serif: "Lato",
    "RedHatDisplayVF", "RedHatDisplay", "Overpass", overpass, helvetica, arial,
    sans-serif;
  --pf-global--FontFamily--redhatVF--monospace: "RedHatMonoVF", "RedHatMono",
    "Liberation Mono", consolas, "SFMono-Regular", menlo, monaco, "Courier New",
    monospace;
  --pf-global--FontFamily--overpass--sans-serif: "Lato", "overpass", overpass,
    "open sans", -apple-system, blinkmacsystemfont, "Segoe UI", roboto,
    "Helvetica Neue", arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
  --pf-global--FontFamily--overpass--monospace: "overpass-mono", overpass-mono,
    "SFMono-Regular", menlo, monaco, consolas, "Liberation Mono", "Courier New",
    monospace;
}

.pf-x-m-no-decoration {
  text-decoration: none !important;
}

.pf-x-u-text-center {
  text-align: center;
}

.highlight {
  @extend .pf-u-my-md, .pf-c-card, .pf-m-flat;

  > pre {
    @extend .pf-u-p-md;

    overflow-x: auto;
    border-radius: $pf-global--BorderRadius--sm;
  }
}

.pf-x-c-article__header {
  max-height: 35rem;
  object-fit: cover;
}

.pf-c-avatar--main {
  width: 250px;
  height: 100%;
  object-fit: cover;
  box-shadow: 0 0 14px var(--pf-global--Color--light-100);

  @media (prefers-color-scheme: dark) {
    box-shadow: 0 0 14px var(--pf-global--Color--dark-100);
  }
}

.pf-x-person__header {
  max-width: 1024px;
  margin: 3rem auto;
  margin-bottom: 5rem;

  @media screen and (min-width: 826px) {
    margin-bottom: 3rem !important;
  }

  @media screen and (min-width: 1146px) {
    margin-bottom: 2rem !important;
  }

  &,
  .pf-c-dropdown__toggle {
    color: var(--pf-global--Color--dark-100);
  }

  &--standalone {
    margin-bottom: 7rem !important;
  }
}

.pf-x-c-avatar__figcaption {
  margin-left: auto;
  transform: translateY(50%);
}

.pf-c-card--overlay {
  transform: translateY(50%);
  max-width: 760px;
  margin: 0 auto;

  @media screen and (max-width: 1145px) {
    transform: translateY(0);
  }
}

.pf-x-commitwrapper {
  @media screen and (min-width: 1146px) {
    margin-bottom: 0 !important;
  }
}

.lastcommit__user__url > #lastcommit__user__url__img {
  margin-bottom: -0.4rem;
}

.pf-c-code-block__actions--info {
  margin-left: 0;
  width: 100%;
  justify-content: space-between;
}

.pf-x-u-transparent {
  background: transparent;
}

.pf-x-octocat {
  width: 90px;
}

.pf-x-u-blur {
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  background: rgba(255, 255, 255, 0.7) !important;

  @media (prefers-color-scheme: dark) {
    background: rgba(255, 255, 255, 0.88) !important;
  }
}

.pf-c-page__main--with-overlay {
  padding-top: 100px;
  background: rgba(255, 255, 255, 0.5) !important;

  &--grid {
    background-size: 40px 40px !important;
    background-image: radial-gradient(
      circle,
      rgba(0, 0, 0, 0.2) 1px,
      rgba(0, 0, 0, 0) 1px
    ) !important;
  }

  @media (prefers-color-scheme: dark) {
    background-color: rgba(0, 0, 0, 0.8) !important;

    &--grid {
      background-image: radial-gradient(
        circle,
        rgba(255, 255, 255, 0.15) 1px,
        rgba(0, 0, 0, 0) 1px
      ) !important;
    }
  }
}

.pf-c-page--background::before {
  content: "";
  background: url($bg);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(7.5px);
  height: 100%;
  width: 100%;
  position: fixed;
  transform: scale(1.1);
}

.pf-c-card__header-main__img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.pf-c-card__header-main--fluid {
  width: 100%;
}

.pf-x-commitwrapper {
  z-index: 10;
}

.pf-l-grid--max-width,
.pf-c-page__main-section--max-width,
.pf-x-c-footer--max-width,
.pf-x-c-projects--max-width,
.pf-c-page__header__content--max-width {
  width: 1128px;
  max-width: 100%;
  margin: 0 auto;
}

.pf-c-page__header__content--max-width {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pf-c-page__header--max-width {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pf-c-page__header-tools--max-width {
  margin: 0 !important;
  width: 100%;
  max-width: 1128px;
  display: flex;
  align-items: center;
  justify-content: end;

  & .pf-c-page__header-tools--max-width {
    width: auto;
    flex: 1;
  }
}

.pf-c-page__header--overlay {
  background: transparent;
  position: fixed;
  left: 0;
  right: 0;
  height: 100px;

  &.pf-c-page__header--overlay--index {
    position: relative;
  }
}

.pf-x-u-nowrap {
  white-space: nowrap;
  overflow-x: auto;
}

.lastcommit {
  flex: 1;
  width: calc(100%);

  @media screen and (min-width: 768px) {
    width: calc(100% - 100px);
  }

  .pf-c-code-block__actions-item {
    padding-left: 0 !important;
  }

  .pf-c-code-block__content {
    padding: var(--pf-global--spacer--sm);
    padding-left: 0;
  }
}

.pf-x-u-live {
  background: var(--pf-global--success-color--100);
  color: var(--pf-global--Color--light-100);
}

.pf-x-u-offline {
  background: var(--pf-global--danger-color--100);
  color: var(--pf-global--Color--light-100);
}

.pf-x-u-transparent {
  background: transparent;
}

.pf-c-page__header-brand-link--no-decoration {
  color: var(--pf-global--Color--dark-100);
  text-decoration: none;
}

.pf-c-avatar--navbar {
  width: 60px;
  height: 100%;
  object-fit: cover;
}

.pf-x-m-no-highlight--dark {
  color: var(--pf-global--Color--dark-100);
}

.pf-l-gallery--max-350 {
  --pf-l-gallery--GridTemplateColumns--min: 350px;

  @media screen and (max-width: 412px) {
    --pf-l-gallery--GridTemplateColumns--min: calc(100vw-48px);
  }
}

.pf-l-gallery--max-500 {
  --pf-l-gallery--GridTemplateColumns--min: 365px;

  @media screen and (max-width: 412px) {
    --pf-l-gallery--GridTemplateColumns--min: calc(100vw-48px);
  }
}

.pf-x-u-color-light-100 {
  color: var(--pf-global--BackgroundColor--100);
}

.pf-x-u-color-light-200 {
  color: var(--pf-global--BackgroundColor--200);
}

.pf-c-chip--transparent {
  background: #fffffff5;
}

.pf-x-u-no-shadow {
  box-shadow: none;
}

.pf-x-u-overflow-x-auto {
  overflow-x: auto;
}

.pf-x-u-white-space-nowrap {
  white-space: nowrap;
}

.streamstatus__channel__badge {
  height: 1.25rem;
  min-width: 10rem;
  object-fit: scale-down;
}

.pf-x-u-navbar__title {
  @media screen and (max-width: 767px) {
    text-overflow: ellipsis;
    max-width: 12rem;
    white-space: nowrap;
    overflow-x: hidden;
  }
}

.pf-c-button--header {
  color: var(--pf-global--Color--dark-100) !important;
}

.pf-m-expanded > .pf-c-dropdown__toggle::before,
.pf-m-expanded
  > .pf-c-dropdown__toggle.pf-m-action
  .pf-c-dropdown__toggle-button::before {
  border-color: var(--pf-global--Color--dark-100);

  @media (prefers-color-scheme: dark) {
    border-color: var(--pf-global--Color--light-100);
  }

  border-radius: $pf-global--BorderRadius--sm;
  border-bottom-width: 1px !important;
}

.pf-x-u-text-shadow-sm {
  text-shadow: 0 0 4px var(--pf-global--Color--light-100);
}

@media (prefers-color-scheme: dark) {
  .pf-x-u-text--freestanding {
    text-shadow: 0 0 4px var(--pf-global--Color--dark-100);
    color: var(--pf-global--Color--light-100) !important;
  }
}

.pf-c-card {
  border-radius: $pf-global--BorderRadius--sm;
}

.pf-c-card__header-main__img {
  border-top-left-radius: $pf-global--BorderRadius--sm;
  border-top-right-radius: $pf-global--BorderRadius--sm;
}

.pf-x-c-article__header {
  @media screen and (min-width: 992px) {
    border-top-right-radius: $pf-global--BorderRadius--sm;
  }

  @media screen and (min-width: 1129px) {
    border-top-left-radius: $pf-global--BorderRadius--sm;
  }
}

.pf-c-card--full-width {
  @media screen and (max-width: 991px) {
    border-radius: 0;
  }
}

.pf-c-card--full-width-lg {
  @media screen and (max-width: 1199px) {
    border-radius: 0;
  }
}

.pf-c-card--articles {
  @media screen and (max-width: 1128px) {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

.pf-c-section--articles > .pf-c-card,
.pf-c-card--see-also,
.pf-c-grid--tweets > .pf-c-card {
  @media screen and (max-width: 1128px) {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0;
  }
}

.pf-c-card--lastcommit {
  @media screen and (max-width: 760px) {
    border-radius: 0;
  }
}

.pf-c-dropdown__menu {
  border-radius: $pf-global--BorderRadius--sm;
}

.pf-c-card--transparent {
  @extend .pf-x-u-blur;

  background: rgba(255, 255, 255, 0.5) !important;

  @media (prefers-color-scheme: dark) {
    background: rgba(255, 255, 255, 0.88) !important;
  }

  > .pf-c-card__title {
    @extend .pf-x-u-text-shadow-sm;
  }
}

.pf-c-page__main--index {
  position: absolute;
  width: 100%;
}

.pf-c-card__title > h2 {
  font-weight: var(--pf-c-card__title--FontWeight) !important;
}

.pf-u-color-200 {
  @media (prefers-color-scheme: dark) {
    color: var(--pf-global--Color--300) !important;
  }
}

.fireworks,
.snowflakes,
.rainfall {
  @extend .pf-c-page__main--with-overlay;

  width: 100% !important;
  height: 100% !important;
  position: fixed !important;
  padding-top: 0 !important;
  z-index: 100 !important;
}

.fireworks ~ .snowflakes,
.fireworks ~ .rainfall,
.snowflakes ~ .rainfall {
  background: transparent !important;
}

.pf-c-page__main--with-effects {
  background: transparent !important;
  &--without-blur {
    backdrop-filter: none !important;
  }
}

.pf-u-ml-2xl--first-child {
  &:first-child {
    @extend .pf-u-ml-2xl;
  }
}

// Rainfall; see https://codepen.io/tiger2380/pen/doNxQX
.rainfall__borders,
.rainfall__drops {
  position: fixed;
}

.rainfall__drops {
  @media (prefers-color-scheme: dark) {
    filter: brightness(0.2);
  }

  @media (prefers-color-scheme: light) {
    filter: brightness(2);
  }
}

.rainfall__raindrop {
  position: fixed;
  border-radius: 100%;
  background-image: url($bg);
  background-size: 100vw * 0.05 100vh * 0.05;
  background-position: 50%;
  transform: rotate(180deg) rotateY(0);
  z-index: 100 !important;
}

.rainfall__border {
  position: fixed;
  margin-left: 2px;
  margin-top: 1px;
  border-radius: 100%;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
  transform: rotateY(0);
  z-index: 100 !important;
}

@for $i from 1 through 100 {
  $x: random();
  $y: random();

  $drop-width: 5px + random(11);
  $drop-stretch: 0.7+ (random() * 0.5);
  $drop-delay: (random() * 2.5) + 1;
  $drop-height: $drop-width * $drop-stretch;

  .rainfall__raindrop:nth-child(#{$i}) {
    left: $x * 100vw;
    top: $y * 100vh;

    width: $drop-width;
    height: $drop-height;
    background-position: percentage($x) percentage($y);
    animation: #{$drop-delay}s rainfall__falling 0.3s ease-in infinite;
  }

  .rainfall__border:nth-child(#{$i}) {
    left: $x * 100vw;
    top: $y * 100vh;

    width: $drop-width - 4;
    height: $drop-height;
    animation: #{$drop-delay}s rainfall__falling 0.3s ease-in infinite;
  }
}

@keyframes rainfall__falling {
  from {
  }
  to {
    transform: translateY(500px);
  }
}

@media (prefers-reduced-motion: reduce) {
  .borders,
  .drops {
    display: none;
  }
}

.pf-x-u-text--center {
  text-align: center;
}

.twitterfeed__tweets__content img {
  @extend .pf-u-mt-md;
}

.pf-x-c-project__icon {
  @extend .pf-u-mr-sm;
  max-width: 2rem;
}

.pf-x-c-name {
  text-align: center;
  word-break: keep-all;
}

.twitterfeed {
  margin-top: -1rem;
}

a.pf-c-button.pf-m-primary,
.pf-x-u-hoverable {
  transition: all 0.2s ease-in-out;

  &:hover,
  &:focus {
    transform: scale(1.035);
  }

  &--rotate {
    &:hover,
    &:focus {
      transform: rotate(-5deg) scale(1.1);
    }
  }
}

.pf-x-u-hoverable-parent {
  > img {
    transition: all 0.2s ease-in-out;
  }

  &:hover,
  &:focus {
    > img {
      transform: scale(1.05);
    }
  }

  &--rotate {
    &:hover,
    &:focus {
      > img {
        transform: rotate(-5deg) scale(1.1);
      }
    }
  }
}

.spotifystatus {
  .pf-x-spotify {
    max-width: 40px;
    height: 100%;
    object-fit: cover;
  }
}

.twitterfeed .pf-l-gallery__item img {
  aspect-ratio: 2;
  object-fit: cover;
}
