<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
      {{ if eq .Title .Site.Title }}
        {{ .Title }}
      {{ else }}
        {{ .Title }} |
        {{ .Site.Title }}
      {{ end }}
    </title>

    <link rel="icon" href="{{ .Site.Data.person.img }}">

    <meta name="author" content="{{ .Site.Params.Meta.Author }}" />
    <meta name="description" content="{{ .Site.Params.Meta.Description }}" />
    <meta
      name="keywords"
      content="{{ delimit .Site.Params.Meta.Keywords `, ` }}"
    />
    <meta
      name="copyright"
      content="© {{ now.Year }} {{ .Site.Params.Meta.Author }}"
    />

    <link
      rel="stylesheet"
      href="{{ (resources.Get `scss/main.scss` | resources.ExecuteAsTemplate `main.scss` . | resources.ToCSS | resources.Minify).Permalink }}"
    />
  </head>
  <body>
    <div class="pf-c-page pf-c-page--background">
      <a class="pf-c-skip-to-content pf-c-button pf-m-primary" href="#main"
        >Skip to content</a
      >

      {{ block "header" . }}
        <header class="pf-c-page__header pf-c-page__header--max-width pf-x-u-blur pf-c-page__header--overlay pf-u-box-shadow-sm-bottom pf-u-pr-md">
          <div class="pf-c-page__header-tools pf-c-page__header-tools--max-width">
            <div class="pf-c-page__header-brand pf-u-pl-0">
              <a
                class="pf-c-page__header-brand-link pf-u-display-flex pf-u-align-items-center pf-u-justify-content-center pf-c-page__header-brand-link--no-decoration"
                href="{{ .Site.BaseURL }}"
                ><img
                  src="{{ .Site.Data.person.img }}"
                  alt="Profile picture of {{ .Site.Data.person.name }}"
                  class="pf-c-avatar pf-u-mr-md pf-c-avatar--navbar"
                />
                <div>
                  <h2 class="pf-u-font-size-sm">{{ .Site.Data.person.name }}</h2>
                  <h1 class="pf-u-font-size-md pf-u-font-weight-bold">
                    {{ .Title }}
                  </h1>
                </div>
              </a>
            </div>

            <div class="pf-c-page__header-tools pf-c-page__header-tools--max-width">
              <div class="pf-c-page__header-tools-group">
                <div class="pf-c-page__header-tools-item">
                  <a
                    href="{{ .Site.Data.person.cv }}"
                    target="_blank"
                    rel="noopener"
                    class="pf-c-button pf-m-plain"
                  >
                    <span class="pf-c-button__icon pf-m-start">
                      <i class="fas fa-book" aria-hidden="true"></i> </span
                    >CV</a
                  >
                </div>
              </div>

              <div class="pf-c-page__header-tools-group">
                <div class="pf-c-page__header-tools-item pf-u-p-md pf-u-pl-0">
                  {{ partial "streamstatus" (dict "ID" "youtubestatus" "Platform" "youtube" "Username" .Site.Data.person.youtube "BaseURL" .Site.BaseURL ) }}
                </div>

                <div class="pf-c-page__header-tools-item pf-u-p-md pf-u-pr-0">
                  {{ partial "streamstatus" (dict "ID" "twitchstatus" "Platform" "twitch" "Username" .Site.Data.person.twitch "BaseURL" .Site.BaseURL ) }}
                </div>
              </div>
            </div>
          </div>
        </header>
      {{ end }}

      {{ block "main" . }}
        <main class="pf-c-page__main pf-c-page__main--with-overlay pf-x-u-blur" tabindex="-1" id="main">
          {{ .Content }}
        </main>
      {{ end }}
    </div>
  </body>
</html>
