<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
      {{ if eq .Title .Site.Title }}
        {{ .Title }}
      {{ else }}
        {{ .Title }} |
        {{ .Site.Title }}
      {{ end }}
    </title>

    <meta name="author" content="{{ .Site.Params.Author }}" />
    <meta name="description" content="{{ .Site.Params.Description }}" />
    <meta name="keywords" content="{{ delimit .Site.Params.Keywords `, ` }}" />
    <meta name="copyright" content="{{ .Site.Params.Copyright }}" />

    <link rel="stylesheet" href="https://fonts.xz.style/serve/inter.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@exampledev/new.css@1.1.2/new.min.css"
    />
  </head>
  <body>
    {{ block "header" . }}
      <header>
        <a href="{{ .Site.BaseURL }}">
          <img
            src="{{ .Site.Data.person.img }}"
            alt="{{ .Site.Data.person.imgAlt }}"
            style="width: 100px; height: 100px; object-fit: cover;"
          />

          <h1>
            {{ .Site.Data.person.name }} →
            {{ .Title }}
          </h1>
        </a>

        <nav>
          <ul>
            <li>
              <a
                href="{{ .Site.Data.person.cv }}"
                target="_blank"
                rel="noopener"
                >CV</a
              >
            </li>
            <li>
              <a
                href="{{ .Site.Data.person.contact.twitter }}"
                target="_blank"
                rel="noopener"
              >
                Twitter:
                {{ partial "twitter" . }}
              </a>
            </li>
            <li>
              <a
                href="{{ .Site.Data.person.contact.twitch }}"
                target="_blank"
                rel="noopener"
              >
                Twitch:
                {{ partial "twitch" . }}
              </a>
            </li>
            <li>
              <a
                href="{{ .Site.Data.person.contact.github }}"
                target="_blank"
                rel="noopener"
              >
                GitHub:
                {{ partial "github" . }}
              </a>

              {{ partial "lastcommit" . }}
            </li>
          </ul>
        </nav>
      </header>
    {{ end }}

    {{ block "main" . }}
      <main>{{ .Content }}</main>
    {{ end }}

    {{ block "footer" . }}
      <footer>
        <nav>
          <ul>
            <li>
              <a href="{{ .Site.Params.Source }}" target="_blank" rel="noopener"
                >{{ .Site.Params.Copyright }}</a
              >
            </li>

            <li>
              <a href="/imprint">Imprint</a>
            </li>
          </ul>
        </nav>
      </footer>
    {{ end }}
  </body>
</html>
