<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>
      {{ if eq .Title .Site.Title }}
        {{ .Title }}
      {{ else }}
        {{ .Title }} |
        {{ .Site.Title }}
      {{ end }}
    </title>

    {{ range .Site.Data.links.me }}
      <link rel="me" href="{{ . }}" />
    {{ end }}


    <link rel="icon" href="{{ .Site.Data.person.img }}" />

    <meta name="author" content="{{ .Site.Data.site.author }}" />
    <meta name="description" content="{{ .Site.Data.site.description }}" />
    <meta
      name="keywords"
      content="{{ delimit .Site.Data.site.keywords `, ` }}"
    />
    <meta
      name="copyright"
      content="© {{ now.Year }} {{ .Site.Data.site.author }}"
    />

    {{ $opts := dict
      "transpiler" "dartsass"
      "includePaths" (slice "node_modules")
    }}
    {{ with resources.Get `scss/main.scss` | resources.ExecuteAsTemplate `main.scss` . | toCSS $opts | minify }}
      <link rel="stylesheet" href="{{ .RelPermalink }}" />
    {{ end }}
  </head>
  <body>
    {{ if .Site.Data.effects.fireworks }}
      {{ $built := resources.Get "js/fireworks.js" | js.Build (dict "minify" true "target" "es2015") | fingerprint }}
      <script src="{{ $built.Permalink }}"></script>

      <fireworks-js
        style="width: 100%; height: 100%; position: fixed;"
        class="fireworks"
      ></fireworks-js>
    {{ else if .Site.Data.effects.snowfall }}
      <div class="fireworks"></div>
    {{ end }}

    {{ if .Site.Data.effects.snowfall }}
      {{ $built := resources.Get "js/snowflakes.js" | js.Build (dict "minify" true "target" "es2015") | fingerprint }}
      <script src="{{ $built.Permalink }}"></script>
    {{ end }}

    {{ if .Site.Data.effects.rainfall }}
      <div class="rainfall">
        <div class="rainfall__borders">
          {{ range (seq 100) }}
            <div class="rainfall__border"></div>
          {{ end }}
        </div>

        <div class="rainfall__drops">
          {{ range (seq 100) }}
            <div class="rainfall__raindrop"></div>
          {{ end }}
        </div>
      </div>
    {{ end }}

    {{ if .Site.Data.effects.sunrays }}
      <div class="sunrays">
        <div class="sunrays__sun">
          <div class="sunrays__sun__ray__box">
            <div
              class="sunrays__sun__ray__box__ray sunrays__sun__ray__box__ray--1"
            ></div>
            <div
              class="sunrays__sun__ray__box__ray sunrays__sun__ray__box__ray--2"
            ></div>
            <div
              class="sunrays__sun__ray__box__ray sunrays__sun__ray__box__ray--3"
            ></div>
            <div
              class="sunrays__sun__ray__box__ray sunrays__sun__ray__box__ray--4"
            ></div>
            <div
              class="sunrays__sun__ray__box__ray sunrays__sun__ray__box__ray--5"
            ></div>
            <div
              class="sunrays__sun__ray__box__ray sunrays__sun__ray__box__ray--6"
            ></div>
            <div
              class="sunrays__sun__ray__box__ray sunrays__sun__ray__box__ray--7"
            ></div>
            <div
              class="sunrays__sun__ray__box__ray sunrays__sun__ray__box__ray--8"
            ></div>
            <div
              class="sunrays__sun__ray__box__ray sunrays__sun__ray__box__ray--9"
            ></div>
            <div
              class="sunrays__sun__ray__box__ray sunrays__sun__ray__box__ray--10"
            ></div>
          </div>
        </div>
      </div>
    {{ end }}


    <noscript
      >Please enable JavaScript to enable automatic dark theme
      switching.</noscript
    >
    <script type="module">
      const darkModeMediaQuery = window.matchMedia(
        "(prefers-color-scheme: dark)"
      );

      const updateTheme = () =>
        document.documentElement.classList.toggle(
          "pf-v6-theme-dark",
          darkModeMediaQuery.matches
        );

      darkModeMediaQuery.addEventListener("change", updateTheme);

      updateTheme();
    </script>

    <div class="pf-v6-c-page pf-v6-c-page--background">
      <a
        class="pf-v6-c-skip-to-content pf-v6-c-button pf-m-primary"
        href="#main"
        >Skip to content</a
      >

      {{ block "header" . }}
        <header
          class="pf-v6-c-page__header pf-v6-c-page__header--max-width pf-v6-x-u-blur pf-v6-c-page__header--overlay pf-v6-u-box-shadow-sm pf-v6-x-u-white-space-nowrap pf-v6-x-u-overflow-x-auto"
        >
          <div class="pf-v6-c-page__header__content--max-width">
            <a
              class="pf-v6-u-display-flex pf-v6-u-align-items-center pf-v6-u-justify-content-center pf-v6-c-page__header-brand-link--no-decoration pf-v6-u-pl-2xl pf-v6-u-pl-sm-on-xl pf-v6-x-u-hoverable-parent pf-v6-x-u-hoverable-parent--rotate"
              href="{{ .Site.BaseURL }}"
            >
              <img
                src="{{ .Site.Data.person.img }}"
                alt="Profile picture of {{ .Site.Data.person.name }}"
                class="pf-v6-c-avatar pf-v6-u-mr-md pf-v6-c-avatar--navbar"
              />
              <div>
                <h2 class="pf-v6-u-font-size-sm pf-v6-x-u-text-shadow-sm">
                  {{ .Site.Data.person.name }}
                </h2>
                <h1
                  class="pf-v6-u-font-size-md pf-v6-u-font-weight-bold pf-v6-x-u-navbar__title pf-v6-x-u-text-shadow-sm"
                >
                  {{ .Title }}
                </h1>
              </div>
            </a>

            <div
              class="pf-v6-u-display-flex pf-v6-u-align-items-center pf-v6-u-pr-2xl pf-v6-u-pr-0-on-xl"
            >
              {{ range .Site.Data.links.navbar }}
                <a
                  href="{{ .link }}"
                  {{ if .newTab }}target="_blank"{{ end }}
                  rel="noopener"
                  class="pf-v6-c-button pf-v6-c-button--header pf-v6-x-u-text-shadow-sm pf-m-plain pf-v6-u-ml-2xl--first-child"
                >
                  <span class="pf-v6-c-button__icon pf-m-start">
                    <i class="{{ .icon }}" aria-hidden="true"></i> </span
                  >{{ .title }}</a
                >
              {{ end }}

              {{ if .Site.Data.integrations.youtube.enabled }}
                <div class="pf-v6-u-ml-md">
                  {{ partial "streamstatus" (dict "ID" "youtubestatus" "Platform" "youtube" "Username" .Site.Data.integrations.youtube.username "BaseURL" .Site.BaseURL ) }}
                </div>
              {{ end }}

              {{ if .Site.Data.integrations.twitch.enabled }}
                <div class="pf-v6-u-ml-md">
                  {{ partial "streamstatus" (dict "ID" "twitchstatus" "Platform" "twitch" "Username" .Site.Data.integrations.twitch.username "BaseURL" .Site.BaseURL ) }}
                </div>
              {{ end }}
            </div>
          </div>
        </header>
      {{ end }}

      {{ block "main" . }}
        <main
          class="pf-v6-c-page__main pf-v6-c-page__main--with-overlay {{ if .Site.Data.effects.grid }}
            pf-v6-c-page__main--with-overlay--grid
          {{ end }} pf-v6-x-u-blur {{ if or .Site.Data.effects.fireworks .Site.Data.effects.snowfall .Site.Data.effects.rainfall .Site.Data.effects.sunrays }}
            pf-v6-c-page__main--with-effects{{ if not .Site.Data.effects.blur }}
              pf-v6-c-page__main--with-effects--without-blur
            {{ end }}
          {{ end }}"
          tabindex="-1"
          id="main"
        >
          {{ .Content }}
        </main>
      {{ end }}
    </div>
  </body>
</html>
