{{ define "main" }}
  <main
    class="pf-v6-c-page__main pf-v6-c-page__main--with-overlay {{ if .Site.Data.effects.grid }}
      pf-v6-c-page__main--with-overlay--grid
    {{ end }} pf-v6-x-u-blur  {{ if or .Site.Data.effects.fireworks .Site.Data.effects.snowfall .Site.Data.effects.rainfall }}
      pf-v6-c-page__main--with-effects{{ if not .Site.Data.effects.blur }}
        pf-v6-c-page__main--with-effects--without-blur
      {{ end }}
    {{ end }}"
    tabindex="-1"
    id="main"
  >
    {{ .Content }}


    <section
      class="pf-v6-c-page__main-section pf-m-fill pf-v6-x-u-transparent pf-v6-c-page__main-section--max-width pf-v6-u-px-md pf-v6-u-px-0-on-xl pf-v6-u-py-md"
    >
      <div class="pf-v6-c-page__main">
        <div class="pf-v6-l-gallery pf-m-gutter pf-v6-l-gallery--max-350">
          {{ range .Pages }}
            <div class="pf-v6-l-gallery__item">
              <a
                href="{{ .Permalink }}"
                class="pf-v6-u-color-100 pf-v6-x-m-no-decoration"
              >
                <div
                  class="pf-v6-c-card pf-m-compact pf-m-hoverable-raised pf-v6-u-h-100"
                >
                  <div class="pf-v6-c-card__header pf-v6-u-p-0">
                    <div
                      class="pf-v6-c-card__header-main pf-v6-c-card__header-main--fluid"
                    >
                      <img
                        src="{{ ((index .Resources 0).Resize `500x`).Permalink }}"
                        alt="{{ .Params.HeaderAlt }}"
                        class="pf-v6-c-card__header-main__img"
                      />
                    </div>
                  </div>
                  <div class="pf-v6-c-card__title pf-v6-u-pt-md pf-v6-u-pb-sm">
                    {{ .Title }}
                  </div>
                  {{ if .Params.Excerpt }}
                    <div class="pf-v6-c-card__body pf-v6-u-pb-sm">
                      {{ .Params.Excerpt }}
                    </div>
                  {{ end }}
                  <div class="pf-v6-c-card__footer pf-v6-u-color-200">
                    {{ .Date | time.Format ":date_long" }}
                  </div>
                </div>
              </a>
            </div>
          {{ end }}
        </div>
      </div>
    </section>

    {{ partial "footer" . }}
  </main>
{{ end }}
