{{ define "main" }}
  <main
    class="pf-c-page__main pf-c-page__main--with-overlay pf-x-u-blur  {{ if or .Site.Params.effects.fireworks .Site.Params.effects.snowfall }}
      pf-c-page__main--with-effects{{ if not .Site.Params.effects.blur }} pf-c-page__main--with-effects--without-blur{{ end }}
    {{ end }}"
    tabindex="-1"
    id="main"
  >
    {{ .Content }}


    <section
      class="pf-c-page__main-section pf-m-fill pf-x-u-transparent pf-c-page__main-section--max-width pf-u-px-md pf-u-px-0-on-xl pf-u-py-md"
    >
      <div class="pf-c-page__main">
        <div class="pf-l-gallery pf-m-gutter pf-l-gallery--max-350">
          {{ range .Pages }}
            <div class="pf-l-gallery__item">
              <a
                href="{{ .Permalink }}"
                class="pf-u-color-100 pf-x-m-no-decoration"
              >
                <div
                  class="pf-c-card pf-m-compact pf-m-hoverable-raised pf-u-h-100"
                >
                  <div class="pf-c-card__header pf-u-p-0">
                    <div
                      class="pf-c-card__header-main pf-c-card__header-main--fluid"
                    >
                      <img
                        src="{{ ((index .Resources 0).Resize `500x`).Permalink }}"
                        alt="{{ .Params.HeaderAlt }}"
                        class="pf-c-card__header-main__img"
                      />
                    </div>
                  </div>
                  <div class="pf-c-card__title pf-u-pt-md pf-u-pb-sm">
                    {{ .Title }}
                  </div>
                  <div class="pf-c-card__body pf-u-pb-sm">
                    {{ .Params.Excerpt }}
                  </div>
                  <div class="pf-c-card__footer pf-u-color-200">
                    {{ .Date | time.Format ":date_long" }}
                  </div>
                </div>
              </a>
            </div>
          {{ end }}
        </div>
      </div>
    </section>

    {{ partial "footer" . }}
  </main>
{{ end }}
