{{ define "main" }}
  <main
    class="pf-c-page__main pf-c-page__main--with-overlay pf-x-u-blur {{ if or .Site.Params.Meta.Fireworks .Site.Params.Meta.Snowfall }}
      pf-c-page__main--with-effects
    {{ end }}"
    tabindex="-1"
    id="main"
  >
    <section
      class="pf-c-page__main-section pf-m-fill pf-x-u-transparent pf-c-page__main-section--max-width pf-u-px-0 pf-u-pb-0 pf-u-pt-0 pf-u-pt-md-on-xl"
    >
      <div class="pf-c-page__main pf-c-content">
        <div class="pf-c-card pf-c-card--full-width-lg">
          <div class="pf-c-card__body">
            {{ .Content }}
          </div>
        </div>
      </div>
    </section>

    {{ partial "footer" . }}
  </main>
{{ end }}
