<div class="pf-c-card" id="{{ .ID }}">
  <div class="pf-c-card__body">
    <div class="lastcommit">
      <div>
        <span>Last GitHub commit by</span>
        <a class="lastcommit__user__url" target="_blank">
          <span class="lastcommit__user__name"></span>
          <sup class="lastcommit__user__followercount"></sup>
        </a>
        <span> (on</span>
        <a class="lastcommit__commit__url" target="_blank">
          <span class="lastcommit__commit__time"></span>
        </a>
        <span>in</span>
        <a class="lastcommit__repo__url" target="_blank">
          <code class="lastcommit__repo__name"></code></a
        >):
      </div>

      <a class="lastcommit__commit__url" target="_blank">
        <code class="lastcommit__commit__message"></code>
      </a>
    </div>
  </div>
</div>

<noscript>Please enable JavaScript to view the last GitHub commit.</noscript
><script type="module">
  const base = "{{ .BaseURL }}"
  const username = "{{ .Username }}";

  const lastCommit = await (
    await fetch(`${base}api/github?username=${username}`)
  ).json();

  // User
  document.querySelector("#{{ .ID }} .lastcommit__user__url").href =
    lastCommit.userURL;

  document.querySelector("#{{ .ID }} .lastcommit__user__name").innerText =
    lastCommit.username;

  document.querySelector("#{{ .ID }} .lastcommit__user__followercount").innerText =
    lastCommit.userFollowerCount+" Followers";

  // Commit
  document.querySelectorAll("#{{ .ID }} .lastcommit__commit__url").forEach(c => {
    c.href = lastCommit.lastCommitURL
  });

  document.querySelector("#{{ .ID }} .lastcommit__commit__time").innerText =
    new Date(lastCommit.lastCommitTime).toLocaleString();

  document.querySelector("#{{ .ID }} .lastcommit__commit__message").innerText =
    lastCommit.lastCommitMessage;

  // Repo
  document.querySelector("#{{ .ID }} .lastcommit__repo__url").href =
    lastCommit.lastCommitRepoURL;

  document.querySelector("#{{ .ID }} .lastcommit__repo__name").innerText =
    lastCommit.lastCommitRepoName;
</script>
