<div
  class="pf-v6-c-card pf-v6-c-card--overlay pf-v6-c-card--lastcommit pf-v6-u-py-xs pf-v6-u-px-lg pf-v6-u-px-xs-on-md"
  id="{{ .ID }}"
>
  <div class="pf-v6-c-card__body pf-v6-u-p-0 pf-v6-u-display-flex">
    <a
      class="lastcommit__user__url pf-v6-u-display-flex pf-v6-x-u-hoverable pf-v6-x-u-hoverable--rotate"
      target="_blank"
    >
      <img
        src="/img/octocat.svg"
        class="pf-v6-u-p-md pf-v6-x-octocat pf-v6-u-display-none pf-v6-u-display-flex-on-md pf-v6-u-px-md"
      />
    </a>

    <div class="lastcommit">
      <div class="pf-v6-c-code-block pf-v6-x-u-transparent pf-v6-u-p-sm pf-v6-u-pl-xs">
        <div class="pf-v6-c-code-block__header">
          <div
            class="pf-v6-c-code-block__actions pf-v6-c-code-block__actions--info pf-v6-u-flex-direction-column pf-v6-u-flex-direction-row-on-lg"
          >
            <div class="pf-v6-c-code-block__actions-item pf-v6-u-py-sm pf-v6-u-px-md">
              <span>Last GitHub commit by</span>
              <a class="lastcommit__user__url pf-v6-u-ml-xs" target="_blank">
                <img id="lastcommit__user__url__img" />
              </a>
            </div>

            <div
              class="pf-v6-c-code-block__actions-item pf-v6-u-pb-sm pf-v6-u-pt-sm-on-lg pf-v6-u-pr-md"
            >
              <a class="lastcommit__repo__url" target="_blank">
                <i class="fas fa-code-branch" aria-hidden="true"></i>
                <span class="lastcommit__repo__name"></span> (<span
                  class="lastcommit__commit__time"
                ></span
                >)
              </a>
            </div>
          </div>
        </div>
        <div class="pf-v6-c-code-block__content">
          <pre
            class="pf-v6-c-code-block__pre pf-v6-x-u-nowrap"
          ><code class="pf-v6-c-code-block__code lastcommit__commit__message"></code></pre>
        </div>
      </div>
    </div>
  </div>
</div>

<noscript>Please enable JavaScript to view the latest GitHub commit.</noscript
><script type="module">
const base = "{{ .BaseURL }}";
const username = "{{ .Username }}";

const lastCommit = await (
  await fetch(`${base}api/github?username=${username}`)
).json();

// User
document.querySelectorAll("#{{ .ID }} .lastcommit__user__url").forEach(el => {
  el.href = lastCommit.userURL;
});

const img = document.querySelector("#{{ .ID }} #lastcommit__user__url__img");

img.alt =
  lastCommit.username + " with " + lastCommit.userFollowerCount + " followers";
img.src =
  "https://img.shields.io/badge/%40" +
  lastCommit.username +
  "-" +
  lastCommit.userFollowerCount +
  "%20followers-brightgreen?logo=github&style=social";

// Commit
document
  .querySelectorAll("#{{ .ID }} .lastcommit__commit__url")
  .forEach((c) => {
    c.href = lastCommit.lastCommitURL;
  });

const diff = Math.ceil(
  (new Date() - new Date(lastCommit.lastCommitTime)) / 36e5
);

document.querySelector("#{{ .ID }} .lastcommit__commit__time").innerText =
  diff >= 0 ? diff + " hour" + (diff == 1 ? "" : "s") + " ago" : "just now";

document.querySelector("#{{ .ID }} .lastcommit__commit__message").innerText =
  lastCommit.lastCommitMessage;

// Repo
document.querySelector("#{{ .ID }} .lastcommit__repo__url").href =
  lastCommit.lastCommitURL;

document.querySelector("#{{ .ID }} .lastcommit__repo__name").innerText =
  lastCommit.lastCommitRepoName.length > 24 ? `${lastCommit.lastCommitRepoName.substring(0, 19)} …` : lastCommit.lastCommitRepoName;

</script>
