<div
  class="pf-v6-c-card pf-v6-c-card--full-width pf-v6-c-card--transparent"
  id="{{ .ID }}"
>
  <div
    class="pf-v6-c-card__title pf-v6-l-flex pf-m-justify-content-space-between pf-m-align-items-center pf-v6-u-py-xl"
  >
    <div class="pf-v6-c-card__title-text">
      <span>Latest Toots</span>

      {{ if not .Construction }}
        <a
          target="_blank"
          class="twitterfeed__user__url pf-v6-l-flex pf-m-align-items-center"
        >
          <img
            src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
            alt="Mastodon follower count"
          />
        </a>
      {{ end }}
    </div>
  </div>
  <div class="pf-v6-c-card__body twitterfeed">
    {{ if .Construction }}
      <div
        class="pf-v6-c-alert pf-m-warning pf-m-inline pf-v6-u-mb-md"
        aria-label="Warning alert"
      >
        <div class="pf-v6-c-alert__icon">
          <i class="fas fa-fw fa-wrench" aria-hidden="true"></i>
        </div>
        <p class="pf-v6-c-alert__title">
          <span class="pf-v6-screen-reader">Warning alert:</span>
          Under construction
        </p>
        <div class="pf-v6-c-alert__description">
          <p>
            This feed is still in development, but should be available in the
            near future.
          </p>
        </div>
      </div>
    {{ else }}
      <ul
        class="twitterfeed__tweets pf-v6-l-flex pf-m-column pf-m-space-items-sm"
      ></ul>

      <a
        target="_blank"
        class="twitterfeed__user__url pf-v6-c-button pf-m-link"
      >
        <span class="pf-v6-c-button__icon pf-m-start">
          <i class="fas fa-arrow-right" aria-hidden="true"></i> </span
        >All toots</a
      >
    {{ end }}
  </div>
</div>

<noscript>Please enable JavaScript to view the Mastodon feed.</noscript
><script type="module">
  const base = "{{ .BaseURL }}";
  const username = "{{ .Username }}";

  const mastodonFeed = await(
    await fetch(`${base}api/mastodon?username=${username}`)
  ).json();

  // Badge
  document.querySelector("#{{ .ID }} .twitterfeed__user__url > img").src = "https://img.shields.io/mastodon/follow/"+mastodonFeed.userID+"?label=@"+mastodonFeed.username+"&style=social"

  // User
  document.querySelectorAll("#{{ .ID }} .twitterfeed__user__url").forEach(el => {
    el.href = mastodonFeed.userURL;
  })

  // Tweets
  mastodonFeed.toots.map((tweet) => {
    const root = document.createElement("li");
    root.classList.add("pf-v6-c-card", "pf-m-plain", "pf-m-hoverable-raised")

    const link = document.createElement("a");
    link.target = "_blank";
    link.href = tweet.url;
    link.classList.add("pf-v6-u-color-100", "pf-v6-l-flex", "pf-v6-u-flex-direction-column", "pf-m-space-items-sm", "pf-m-align-items-flex-start", "pf-v6-c-card__body", "pf-v6-u-p-md", "pf-v6-x-m-no-decoration")

    const header = document.createElement("div")
    header.classList.add("pf-v6-u-mb-sm", "pf-v6-l-flex", "pf-m-align-items-center")

    const userPic = document.createElement("img");
    userPic.src = mastodonFeed.userProfilePictureURL;
    userPic.alt = `Profile picture of ${mastodonFeed.userDisplayName}`;
    userPic.classList.add("pf-v6-c-avatar", "pf-v6-u-mr-sm")
    header.appendChild(userPic);

    const usernames = document.createElement("div")
    usernames.classList.add("pf-v6-l-flex", "pf-m-justify-content-center", "pf-m-align-items-start", "pf-m-space-items-sm", "pf-v6-u-flex-direction-column")

    const userDisplayName = document.createElement("span");
    userDisplayName.innerText = mastodonFeed.userDisplayName;
    usernames.appendChild(userDisplayName);

    const userName = document.createElement("span");
    userName.innerText = " @"+mastodonFeed.username;
    userName.classList.add("pf-v6-u-color-200")
    usernames.appendChild(userName);

    header.appendChild(usernames);

    link.appendChild(header)

    const content = document.createElement("div")
    content.classList.add("pf-v6-u-w-100")

    const tweetTimestamp = document.createElement("span");
    tweetTimestamp.innerText = new Date(tweet.timestamp).toLocaleString();
    tweetTimestamp.classList.add("pf-v6-u-color-200")
    content.appendChild(tweetTimestamp);

    const tweetBody = document.createElement("div");
    tweetBody.innerHTML = tweet.body;
    tweetBody.classList.add("pf-v6-u-py-sm", "pf-v6-x-u-overflow-x-auto")

    content.appendChild(tweetBody);

    if (tweet.media.length > 0) {
      const images = document.createElement("div");
      images.classList.add("pf-v6-l-gallery", "pf-m-gutter", "pf-v6-u-my-sm")

      tweet.media.slice(0, 2).forEach((media) => {
        const el = document.createElement("div");
        el.classList.add("pf-v6-l-gallery__item")

        let attachment;
        if (media.isVideo) {
          attachment = document.createElement("video");
          attachment.controls = true;
        } else {
          attachment = document.createElement("img");
          attachment.alt = media.altText;
        }

        attachment.src = media.url;
        attachment.classList.add("pf-v6-u-w-100")

        el.appendChild(attachment);

        images.appendChild(el);
      });

      content.appendChild(images);
    }


    const statistics = document.createElement("div");
    statistics.classList.add("pf-v6-l-flex", "pf-m-justify-content-space-around", "pf-m-align-items-center", "pf-v6-u-color-200", "pf-v6-u-mt-sm")

    const repliess = document.createElement("span");
    repliess.classList.add("pf-v6-l-flex", "pf-m-align-items-center", "pf-m-space-items-sm")

    const repliesIcon = document.createElement("i");
    repliesIcon.classList.add("fas", "fa-comments")

    const repliesCount = document.createElement("span");
    repliesCount.textContent = tweet.repliesCount;

    repliess.append(repliesIcon)
    repliess.append(repliesCount)

    statistics.appendChild(repliess);

    const reblogs = document.createElement("span");
    reblogs.classList.add("pf-v6-l-flex", "pf-m-align-items-center", "pf-m-space-items-sm")

    const reblogIcon = document.createElement("i");
    reblogIcon.classList.add("fas", "fa-retweet")

    const reblogCount = document.createElement("span");
    reblogCount.textContent = tweet.reblogsCount;

    reblogs.append(reblogIcon)
    reblogs.append(reblogCount)

    statistics.appendChild(reblogs);

    const favorites = document.createElement("span");
    favorites.classList.add("pf-v6-l-flex", "pf-m-align-items-center", "pf-m-space-items-sm")

    const favoritesIcon = document.createElement("i");
    favoritesIcon.classList.add("fas", "fa-heart")

    const favoritesCount = document.createElement("span");
    favoritesCount.textContent = tweet.favoritesCount;

    favorites.append(favoritesIcon)
    favorites.append(favoritesCount)

    statistics.appendChild(favorites);

    content.appendChild(statistics);

    link.append(content)

    root.appendChild(link);

    document.querySelector("#{{ .ID }} .twitterfeed__tweets").appendChild(root);
  });
</script>
