<div class="pf-c-card" id="{{ .ID }}">
  <div class="pf-c-card__body">
    <div class="streamstatus">
      <a class="streamstatus__channel__url" target="_blank">
        <div>
          <i class="fas fa-play"></i> {{ if eq .Platform "youtube" }}
            YouTube
          {{ else }}
            Twitch
          {{ end }}
        </div>
        <div>
          <span class="streamstatus__channel__name"></span>
          <span>
            <span class="streamstatus__channel__subscribercount"></span>
            {{ if eq .Platform "youtube" }}
              Subscribers
            {{ else }}
              Followers
            {{ end }}
          </span>
        </div>
      </a>
      <a class="streamstatus__stream_url" target="_blank">
        <div>
          <span class="streamstatus__stream__islive"></span>
          <span class="streamstatus__stream__viewercount">0</span>
          <span>Viewers</span>
        </div>
        <div class="streamstatus__stream__name"></div>
      </a>
    </div>
  </div>
</div>

<noscript
  >Please enable JavaScript to view the
  {{ if eq .Platform "youtube" }}YouTube{{ else }}Twitch{{ end }}
  status.</noscript
><script type="module">
  const base = "{{ .BaseURL }}"
  const platform = "{{ .Platform }}"
  const username = "{{ .Username }}";

  const streamStatus = await (
    await fetch(`${base}api/${platform}?username=${username}`)
  ).json();

  // Channel
  document.querySelector("#{{ .ID }} .streamstatus__channel__url").href =
    streamStatus.channelURL;

  document.querySelector("#{{ .ID }} .streamstatus__channel__name").innerText =
    streamStatus.channelName;

  document.querySelector("#{{ .ID }} .streamstatus__channel__subscribercount").innerText =
    streamStatus.channelSubscriberCount;

  // Stream
  document.querySelector("#{{ .ID }} .streamstatus__stream_url").href =
    streamStatus.streamURL;

  document.querySelector("#{{ .ID }} .streamstatus__stream__islive").innerText =
    streamStatus.streamIsLive ? "Live" : "Offline";

  document.querySelector("#{{ .ID }} .streamstatus__stream__viewercount").innerText =
    streamStatus.streamViewerCount;

  document.querySelector("#{{ .ID }} .streamstatus__stream__name").innerText =
    streamStatus.streamName;
</script>
