<div
  class="pf-u-font-size-sm pf-l-flex pf-m-column pf-m-space-items-xs pf-m-align-items-center pf-m-justify-content-center pf-u-py-xs"
  id="{{ .ID }}"
>
  <div class="pf-l-flex pf-m-space-items-sm pf-m-align-items-center">
    <a target="_blank" class="pf-l-flex streamstatus__channel__url">
      <img
        alt="{{ if eq .Platform `youtube` }}
          YouTube
        {{ else }}
          Twitch
        {{ end }} follower count"
        class="streamstatus__channel__badge"
      />
    </a>
  </div>

  <a target="_blank" class="pf-u-mt-xs pf-u-mb-sm streamstatus__stream_url"
    ><i class="fas fa-play pf-u-ml-xs pf-u-mr-xs"></i
    ><strong class="streamstatus__stream__name"></strong
  ></a>
  <span class="pf-c-badge streamstatus__stream__islive"></span>
</div>

<noscript
  >Please enable JavaScript to view the
  {{ if eq .Platform "youtube" }}YouTube{{ else }}Twitch{{ end }}
  status.</noscript
><script type="module">
  const base = "{{ .BaseURL }}"
  const platform = "{{ .Platform }}"
  const username = "{{ .Username }}";

  const streamStatus = await (
    await fetch(`${base}api/${platform}?username=${username}`)
  ).json();

  const truncate = (str, n) =>
    str.length > n ? str.substr(0, n - 1) + "&hellip;" : str;

  // Channel
  document.querySelector("#{{ .ID }} .streamstatus__channel__url").href =
    streamStatus.channelURL;

  document.querySelector("#{{ .ID }} .streamstatus__channel__badge").src =
    "https://img.shields.io/badge/%40"+streamStatus.channelName+"-"+streamStatus.channelSubscriberCount+"%20"+(platform == "youtube" ? "subscribers" : "followers")+"-brightgreen?logo="+platform+"&style=social";

  // Stream
  document.querySelector("#{{ .ID }} .streamstatus__stream_url").href =
    streamStatus.streamURL;

  const indicator = document.querySelector("#{{ .ID }} .streamstatus__stream__islive");

  indicator.innerText =
    streamStatus.streamIsLive ? "Live (" + streamStatus.streamViewerCount + " viewers)" : "Offline";

  indicator.classList.add(streamStatus.streamIsLive ? "pf-m-unread" : "pf-m-read")
  indicator.classList.add(streamStatus.streamIsLive ? "pf-m-unread" : "pf-x-u-offline")

  document.querySelector("#{{ .ID }} .streamstatus__stream__name").innerHTML =
    truncate(streamStatus.streamName, 14);
</script>
