<div class="pf-c-card" id="{{ .ID }}">
  <div
    class="pf-c-card__title pf-l-flex pf-m-justify-content-space-between pf-m-align-items-center pf-u-py-xl"
  >
    <span>Latest tweets</span>

    <a
      target="_blank"
      class="twitterfeed__user__url pf-l-flex pf-m-align-items-center"
    >
      <img
        src="https://img.shields.io/twitter/follow/{{ .Username }}?label={{ printf `%s%s` `@` .Username }}&style=social"
        alt="Twitter follower count"
      />
    </a>
  </div>
  <div class="pf-c-card__body twitterfeed">
    <ul
      class="twitterfeed__tweets pf-l-flex pf-m-column pf-m-space-items-sm"
    ></ul>

    <a
      target="_blank"
      class="twitterfeed__user__url pf-c-button pf-m-link pf-u-mt-lg"
    >
      <span class="pf-c-button__icon pf-m-start">
        <i class="fas fa-arrow-right" aria-hidden="true"></i> </span
      >All tweets</a
    >
  </div>
</div>

<noscript>Please enable JavaScript to view the Twitter feed.</noscript
><script type="module">
  const base = "{{ .BaseURL }}";
  const username = "{{ .Username }}";

  const twitterFeed = await(
    await fetch(`${base}api/twitter?username=${username}`)
  ).json();

  // User
  document.querySelectorAll("#{{ .ID }} .twitterfeed__user__url").forEach(el => {
    el.href = twitterFeed.userURL;
  })

  // Tweets
  twitterFeed.tweets.map((tweet) => {
    const root = document.createElement("li");
    root.classList.add("pf-c-card", "pf-m-plain", "pf-m-hoverable-raised")

    const link = document.createElement("a");
    link.target = "_blank";
    link.href = tweet.url;
    link.classList.add("pf-u-color-100", "pf-l-flex", "pf-m-space-items-sm", "pf-m-align-items-flex-start", "pf-c-card__body", "pf-u-p-md", "pf-x-m-no-decoration")

    const userPic = document.createElement("img");
    userPic.src = twitterFeed.userProfilePictureURL;
    userPic.alt = `Profile picture of ${twitterFeed.userDisplayName}`;
    userPic.classList.add("pf-c-avatar")
    link.append(userPic);

    const content = document.createElement("div")

    const avatar = document.createElement("div");
    avatar.classList.add("pf-l-flex", "pf-m-align-items-center", "pf-m-space-items-sm")

    const usernames = document.createElement("span")

    const userDisplayName = document.createElement("span");
    userDisplayName.innerText = twitterFeed.userDisplayName;
    usernames.append(userDisplayName);

    const userName = document.createElement("span");
    userName.innerText = " @"+twitterFeed.username;
    userName.classList.add("pf-u-color-200")
    usernames.append(userName);

    avatar.append(usernames);

    const interpunct = document.createElement("span")
    interpunct.innerText = "·"
    interpunct.ariaHidden = true
    interpunct.classList.add("pf-u-color-200")
    avatar.append(interpunct);

    const tweetTimestamp = document.createElement("span");
    tweetTimestamp.innerText = new Date(tweet.timestamp).toLocaleString();
    tweetTimestamp.classList.add("pf-u-color-200")
    avatar.append(tweetTimestamp);

    content.appendChild(avatar);

    const tweetBody = document.createElement("div");
    tweetBody.innerHTML = tweet.body;
    tweetBody.classList.add("pf-u-py-sm")

    content.appendChild(tweetBody);

    if (tweet.images.length > 0) {
      const images = document.createElement("div");
      images.classList.add("pf-l-gallery", "pf-m-gutter", "pf-u-my-sm")

      tweet.images.forEach((image) => {
        const el = document.createElement("div");
        el.classList.add("pf-l-gallery__item")

        const attachment = document.createElement("img");
        attachment.src = image.url;
        attachment.alt = image.altText;
        attachment.classList.add("pf-u-w-100")

        el.appendChild(attachment);

        images.appendChild(el);
      });

      content.appendChild(images);
    }


    const statistics = document.createElement("div");
    statistics.classList.add("pf-l-flex", "pf-m-justify-content-space-around", "pf-m-align-items-center", "pf-u-color-200")

    const comments = document.createElement("span");
    comments.classList.add("pf-l-flex", "pf-m-align-items-center", "pf-m-space-items-sm")

    const commentIcon = document.createElement("i");
    commentIcon.classList.add("fas", "fa-comments")
    commentIcon.ariaLabel = "Comments"

    const commentCount = document.createElement("span");
    commentCount.textContent = tweet.commentCount;

    comments.append(commentIcon)
    comments.append(commentCount)

    statistics.appendChild(comments);

    const retweets = document.createElement("span");
    retweets.classList.add("pf-l-flex", "pf-m-align-items-center", "pf-m-space-items-sm")

    const retweetIcon = document.createElement("i");
    retweetIcon.classList.add("fas", "fa-retweet")
    retweetIcon.ariaLabel = "Retweets"

    const retweetCount = document.createElement("span");
    retweetCount.textContent = tweet.retweetCount;

    retweets.append(retweetIcon)
    retweets.append(retweetCount)

    statistics.appendChild(retweets);

    const likes = document.createElement("span");
    likes.classList.add("pf-l-flex", "pf-m-align-items-center", "pf-m-space-items-sm")

    const likeIcon = document.createElement("i");
    likeIcon.classList.add("fas", "fa-heart")
    likeIcon.ariaLabel = "Likes"

    const likeCount = document.createElement("span");
    likeCount.textContent = tweet.likeCount;

    likes.append(likeIcon)
    likes.append(likeCount)

    statistics.appendChild(likes);

    content.appendChild(statistics);

    link.append(content)

    root.appendChild(link);

    document.querySelector("#{{ .ID }} .twitterfeed__tweets").appendChild(root);
  });
</script>
