<div class="pf-c-card">
  <div class="pf-c-card__body">
    <div id="youtubestatus">
      <a id="youtubestatus__channel__url" target="_blank">
        <div><i class="fas fa-play"></i> YouTube</div>
        <div>
          <span id="youtubestatus__channel__name"></span>
          <span>
            <span id="youtubestatus__channel__subscribercount"></span>
            Subscribers
          </span>
        </div>
      </a>
      <a id="youtubestatus__stream_url" target="_blank">
        <div>
          <span id="youtubestatus__stream__islive"></span>
          <span id="youtubestatus__stream__viewercount">0</span>
          <span>Viewers</span>
        </div>
        <div id="youtubestatus__stream__name"></div>
      </a>
    </div>
  </div>
</div>

<noscript>Please enable JavaScript to view the YouTube status.</noscript
><script type="module">
  const username = "{{ .Username }}";

  const youtubeStatus = await (
    await fetch(`api/youtube?username=${username}`)
  ).json();

  // Channel
  document.getElementById("youtubestatus__channel__url").href =
    youtubeStatus.channelURL;

  document.getElementById("youtubestatus__channel__name").innerText =
    youtubeStatus.channelName;

  document.getElementById("youtubestatus__channel__subscribercount").innerText =
    youtubeStatus.channelSubscriberCount;

  // Stream
  document.getElementById("youtubestatus__stream_url").href =
    youtubeStatus.streamURL;

  document.getElementById("youtubestatus__stream__islive").innerText =
    youtubeStatus.streamIsLive ? "Live" : "Offline";

  document.getElementById("youtubestatus__stream__viewercount").innerText =
    youtubeStatus.streamViewerCount;

  document.getElementById("youtubestatus__stream__name").innerText =
    youtubeStatus.streamName;
</script>
