{{ define "header" }}
  <header>
    <nav>
      <ul>
        <li>
          <a href="{{ .Site.Data.person.cv }}" target="_blank" rel="noopener"
            >CV</a
          >
        </li>
        <li>
          {{ partial "streamstatus" (dict "ID" "youtubestatus" "Platform" "youtube" "Username" .Site.Data.person.youtube "BaseURL" .Site.BaseURL ) }}
        </li>
        <li>
          {{ partial "streamstatus" (dict "ID" "twitchstatus" "Platform" "twitch" "Username" .Site.Data.person.twitch "BaseURL" .Site.BaseURL ) }}
        </li>
      </ul>
    </nav>
  </header>
{{ end }}

{{ define "main" }}
  <main>
    <h1>{{ .Site.Data.person.name }}</h1>

    <figure>
      <img
        src="{{ .Site.Data.person.img }}"
        alt="Profile picture of {{ .Site.Data.person.name }}"
        style="width: 100px; height: 100px; object-fit: cover;"
      />

      <figcaption>{{ .Site.Data.person.pronouns }}</figcaption>
    </figure>

    <p>{{ .Site.Data.person.description }}</p>

    <ul>
      <li>
        <a
          href="https://twitter.com/pojntfx/{{ .Site.Data.person.twitter }}"
          target="_blank"
          rel="noopener"
          >Follow on Twitter</a
        >

        <a
          href="https://matrix.to/#/{{ .Site.Data.person.matrix }}"
          target="_blank"
          rel="noopener"
          >Contact via Matrix</a
        >

        <a
          href="https://signal.me/#p/{{ .Site.Data.person.signal }}"
          target="_blank"
          rel="noopener"
          >Contact via Signal</a
        >

        <a href="mailto:{{ .Site.Data.person.contact.mail }}" rel="noopener"
          >Contact via Mail</a
        >
      </li>
    </ul>

    <section id="commit">
      {{ partial "lastcommit" (dict "ID" "lastcommit" "Username" .Site.Data.person.github "BaseURL" .Site.BaseURL ) }}
    </section>

    <section id="tweets">
      {{ partial "twitterfeed" (dict "ID" "twitterfeed" "Username" .Site.Data.person.twitter "BaseURL" .Site.BaseURL ) }}
    </section>

    <section id="articles">
      <h2>Articles</h2>

      <ul>
        {{ range .Pages }}
          {{ if eq .Title "Articles" }}
            {{ range first 5 .Pages }}
              <li>
                <a href="{{ .Permalink }}">
                  <img
                    src="{{ ((index .Resources 0).Resize `300x`).Permalink }}"
                    alt="{{ .Params.HeaderAlt }}"
                    style="width: 100%; height: 300px; object-fit: cover;"
                  />

                  <h3>{{ .Title }}</h3>
                  <p>{{ .Params.Excerpt }}</p>
                  <div>Published at {{ .Date }}</div>
                </a>
              </li>
            {{ end }}
          {{ end }}
        {{ end }}
      </ul>

      <a href="/articles">All articles</a>
    </section>

    <section id="projects">
      <h2>Projects</h2>

      <ul>
        {{ range .Site.Data.projects_gen }}
          <li>
            <h3>{{ .title }}</h3>
            <ul>
              {{ range sort .projects "stars" "desc" }}
                <li>
                  <dl>
                    <dt>Name</dt>
                    <dd>
                      <a href="{{ .url }}" target="_blank" rel="noopener"
                        >{{ .title }}</a
                      >
                    </dd>

                    <dt>Description</dt>
                    <dd>
                      {{ .description }}
                    </dd>

                    <dt>Language</dt>
                    <dd>
                      {{ .language }}
                    </dd>

                    <dt>License</dt>
                    <dd>
                      {{ .license }}
                    </dd>

                    <dt>Last update</dt>
                    <dd>
                      {{ .date }}
                    </dd>

                    <dt>Topics</dt>
                    <dd>
                      <ul>
                        {{ range first 5 .topics }}
                          <li>{{ . }}</li>
                        {{ end }}
                      </ul>
                    </dd>

                    <dt>Stars</dt>
                    <dd>
                      {{ .stars }}
                    </dd>

                    <dt>Forks</dt>
                    <dd>
                      {{ .forks }}
                    </dd>

                    <dt>Issues</dt>
                    <dd>
                      {{ .issues }}
                    </dd>
                  </dl>
                </li>
              {{ end }}
            </ul>
          </li>
        {{ end }}
      </ul>
    </section>
  </main>
{{ end }}
