{{ define "header" }}
  <header
    class="pf-v6-c-page__header pf-v6-c-page__header--max-width pf-v6-c-page__header--overlay pf-v6-c-page__header--overlay--index pf-v6-x-u-white-space-nowrap pf-v6-x-u-overflow-x-auto"
  >
    <div class="pf-v6-c-page__header__content--max-width">
      {{ if .Site.Data.integrations.spotify.enabled }}
        {{ partial "spotifystatus" (dict "ID" "spotifystatus" "Username" .Site.Data.integrations.spotify.username "BaseURL" .Site.BaseURL ) }}
      {{ end }}


      <div
        class="pf-v6-u-display-flex pf-v6-u-align-items-center pf-v6-u-pr-sm pf-v6-u-pr-0-on-xl {{ if not .Site.Data.integrations.spotify.enabled }}
          pf-v6-u-ml-auto
        {{ end }}"
      >
        {{ range .Site.Data.links.navbar }}
          <a
            href="{{ .link }}"
            {{ if .newTab }}target="_blank"{{ end }}
            rel="noopener"
            class="pf-v6-c-button pf-v6-c-button--header pf-v6-x-u-text-shadow-sm pf-v6-x-u-text--freestanding pf-m-plain pf-v6-u-ml-sm"
          >
            <span class="pf-v6-c-button__icon pf-m-start">
              <i class="{{ .icon }}" aria-hidden="true"></i> </span
            >{{ .title }}</a
          >
        {{ end }}

        {{ if .Site.Data.integrations.youtube.enabled }}
          <div class="pf-v6-u-ml-md">
            {{ partial "streamstatus" (dict "ID" "youtubestatus" "Platform" "youtube" "Username" .Site.Data.integrations.youtube.username "BaseURL" .Site.BaseURL ) }}
          </div>
        {{ end }}

        {{ if .Site.Data.integrations.twitch.enabled }}
          <div class="pf-v6-u-ml-md">
            {{ partial "streamstatus" (dict "ID" "twitchstatus" "Platform" "twitch" "Username" .Site.Data.integrations.twitch.username "BaseURL" .Site.BaseURL ) }}
          </div>
        {{ end }}
      </div>
    </div>
  </header>
{{ end }}

{{ define "main" }}
  <main
    class="pf-v6-c-page__main pf-v6-c-page__main--with-overlay {{ if .Site.Data.effects.grid }}
      pf-v6-c-page__main--with-overlay--grid
    {{ end }} pf-v6-c-page__main--index pf-v6-x-u-blur  {{ if or .Site.Data.effects.fireworks .Site.Data.effects.snowfall .Site.Data.effects.rainfall }}
      pf-v6-c-page__main--with-effects{{ if not .Site.Data.effects.blur }}
        pf-v6-c-page__main--with-effects--without-blur
      {{ end }}
    {{ end }}"
    tabindex="-1"
    id="main"
  >
    <div
      class="pf-v6-l-grid pf-m-gutter pf-v6-u-p-xl pf-v6-u-pt-0 pf-v6-u-pt-xl-on-xl pf-v6-x-person__header {{ if not .Site.Data.integrations.github.enabled }}
        pf-v6-x-person__header--standalone
      {{ end }}"
    >
      <div
        class="pf-v6-l-grid__item pf-m-12-col pf-m-5-col-on-lg pf-v6-u-display-flex pf-v6-u-flex-direction-column pf-v6-u-align-items-center pf-v6-u-justify-content-center"
      >
        <h1
          class="pf-v6-u-font-size-xl pf-v6-u-font-weight-bold pf-v6-u-mb-xs pf-v6-x-u-text-shadow-sm pf-v6-x-u-text--freestanding pf-v6-x-c-name"
        >
          {{ .Site.Data.person.name }}
        </h1>
        <p
          class="pf-v6-x-u-text-shadow-sm pf-v6-x-u-text--freestanding pf-v6-x-u-text--center"
        >
          {{ .Site.Data.person.description | safeHTML }}
        </p>
      </div>

      <figure
        class="pf-v6-l-grid__item pf-m-12-col pf-m-2-col-on-lg pf-v6-u-display-flex pf-v6-u-flex-direction-column pf-v6-u-align-items-center pf-v6-u-justify-content-center pf-v6-u-p-lg pf-v6-u-p-0-on-lg"
      >
        <img
          src="{{ .Site.Data.person.img }}"
          alt="Profile picture of {{ .Site.Data.person.name }}"
          class="pf-v6-c-avatar pf-m-xl pf-v6-c-avatar--main"
        />

        <figcaption class="pf-v6-x-c-avatar__figcaption">
          <div class="pf-v6-c-label">
            <div class="pf-v6-c-label__content">
              <span class="pf-v6-c-label__text"
                >{{ .Site.Data.person.pronouns }}</span
              >
            </div>
          </div>
        </figcaption>
      </figure>

      <div
        class="pf-v6-l-grid__item pf-m-12-col pf-m-5-col-on-lg pf-v6-u-mt-lg pf-v6-u-mt-0-on-lg pf-v6-u-display-flex pf-v6-u-align-items-center pf-v6-u-justify-content-center-on-md pf-v6-u-flex-direction-column pf-v6-u-flex-direction-row-on-sm"
      >
        <a
          href="{{ .Site.Data.links.cta.link }}"
          target="_blank"
          class="pf-v6-c-button pf-m-primary pf-v6-u-mb-md pf-v6-u-mb-0-on-sm pf-v6-u-mr-md-on-sm"
        >
          <span class="pf-v6-c-button__icon pf-m-start">
            <i class="{{ .Site.Data.links.cta.icon }}" aria-hidden="true"></i>
          </span>

          {{ .Site.Data.links.cta.title }}
        </a>

        {{ partial "contactmenu" (dict "ID" "contact" "Socials" .Site.Data.links.socials ) }}
      </div>
    </div>

    {{ if .Site.Data.integrations.github.enabled }}
      <section class="pf-v6-x-commitwrapper pf-v6-u-mb-md" id="commit">
        {{ partial "lastcommit" (dict "ID" "lastcommit" "Username" .Site.Data.integrations.github.username "BaseURL" .Site.BaseURL ) }}
      </section>
    {{ end }}


    <div class="pf-v6-l-grid pf-m-gutter pf-v6-l-grid--max-width">
      <div class="pf-v6-l-grid__item pf-m-12-col pf-m-7-col-on-lg">
        <section id="articles">
          <div
            class="pf-v6-c-card pf-v6-c-card--full-width pf-v6-c-card--articles pf-v6-c-card--transparent"
          >
            <div
              class="pf-v6-c-card__title pf-v6-l-flex pf-m-justify-content-space-between pf-m-align-items-center pf-v6-u-py-xl"
            >
              <div class="pf-v6-c-card__title-text">
                <span>Recent Articles</span>
              </div>
            </div>
            <div class="pf-v6-c-card__body">
              <ul class="pf-v6-l-flex pf-m-column pf-m-space-items-sm">
                {{ range .Pages }}
                  {{ if eq .Title "Articles" }}
                    {{ range first 3 .Pages }}
                      <li>
                        <a
                          href="{{ .Permalink }}"
                          class="pf-v6-u-color-100 pf-v6-x-m-no-decoration"
                        >
                          <div class="pf-v6-c-card pf-m-clickable">
                            <div class="pf-v6-c-card__header pf-v6-u-p-0">
                              <div
                                class="pf-v6-c-card__header-main pf-v6-c-card__header-main--fluid"
                              >
                                <img
                                  src="{{ ((index .Resources 0).Resize `500x`).Permalink }}"
                                  alt="{{ .Params.HeaderAlt }}"
                                  class="pf-v6-c-card__header-main__img"
                                />
                              </div>
                            </div>
                            <div
                              class="pf-v6-c-card__title pf-v6-u-pt-md pf-v6-u-pb-sm"
                            >
                              <div class="pf-v6-c-card__title-text">
                                {{ .Title }}
                              </div>
                            </div>
                            {{ if .Params.Excerpt }}
                              <div class="pf-v6-c-card__body pf-v6-u-pb-sm">
                                {{ .Params.Excerpt }}
                              </div>
                            {{ end }}
                            <div class="pf-v6-c-card__footer pf-v6-u-color-200">
                              {{ .Date | time.Format ":date_long" }}
                            </div>
                          </div>
                        </a>
                      </li>
                    {{ end }}
                  {{ end }}
                {{ end }}
              </ul>

              <a
                href="/articles"
                class="pf-v6-c-button pf-m-link pf-v6-u-mt-lg"
              >
                <span class="pf-v6-c-button__icon pf-m-start">
                  <i class="fas fa-arrow-right" aria-hidden="true"></i> </span
                >All articles</a
              >
            </div>
          </div>
        </section>
      </div>
      <div class="pf-v6-l-grid__item pf-m-12-col pf-m-5-col-on-lg">
        <section id="tweets" class="pf-v6-c-section--articles">
          {{ if .Site.Data.integrations.bluesky.enabled }}
            {{ partial "blueskyfeed" (dict "ID" "blueskyfeed" "Username" .Site.Data.integrations.bluesky.username "Construction" .Site.Data.integrations.bluesky.construction "BaseURL" .Site.BaseURL ) }}
          {{ else if .Site.Data.integrations.twitter.enabled }}
            {{ partial "twitterfeed" (dict "ID" "twitterfeed" "Username" .Site.Data.integrations.twitter.username "Warning" .Site.Data.integrations.twitter.warning "Construction" .Site.Data.integrations.twitter.construction "BaseURL" .Site.BaseURL ) }}
          {{ else }}
            {{ partial "mastodonfeed" (dict "ID" "mastodonfeed" "Username" .Site.Data.integrations.mastodon.username "Construction" .Site.Data.integrations.mastodon.construction "BaseURL" .Site.BaseURL ) }}
          {{ end }}
        </section>
      </div>
    </div>

    {{ if .Site.Data.integrations.github.projects }}
      <section id="projects">
        <div
          class="pf-v6-c-card pf-v6-u-px-lg pf-v6-u-px-0-on-xl pf-v6-u-mt-xl pf-v6-x-u-transparent pf-v6-x-u-borderless pf-v6-x-u-no-shadow"
        >
          <div class="pf-v6-x-c-projects--max-width">
            <div
              class="pf-v6-c-card__title pf-v6-l-flex pf-m-justify-content-space-between pf-m-align-items-center pf-v6-u-pt-0 pf-v6-u-pb-0 pf-v6-u-px-0"
            >
              <h2
                class="pf-v6-x-u-text-shadow-sm pf-v6-x-u-text--freestanding pf-v6-c-card__title-text"
              >
                Projects
              </h2>
            </div>
            <div class="pf-v6-c-card__body pf-v6-u-px-0 pf-v6-u-pb-0">
              <ul>
                {{ range .Site.Data.projects_gen }}
                  <li>
                    <h3
                      class="pf-v6-u-font-size-xl pf-v6-u-my-md pf-v6-x-u-text-shadow-sm pf-v6-x-u-text--freestanding"
                    >
                      {{ .title }}
                    </h3>
                    <div
                      class="pf-v6-l-gallery pf-m-gutter pf-v6-l-gallery--max-500"
                    >
                      {{ range sort .projects "stars" "desc" }}
                        <div class="pf-v6-l-gallery__item">
                          <a
                            href="{{ .url }}"
                            target="_blank"
                            rel="noopener"
                            class="pf-v6-x-m-no-decoration pf-v6-x-u-color-light-100"
                          >
                            <div
                              class="pf-v6-c-card pf-m-clickable pf-v6-u-h-100"
                              style="background: {{ safeCSS .background }}"
                            >
                              <div class="pf-v6-c-card__header">
                                <div
                                  class="pf-v6-c-card__header-main pf-v6-u-w-100 pf-v6-u-display-flex pf-v6-u-align-items-center pf-v6-u-justify-content-space-between pf-v6-u-flex-direction-column pf-v6-u-flex-direction-row-on-sm pf-v6-x-u-overflow-x-auto pf-v6-x-u-white-space-nowrap"
                                >
                                  <div
                                    class="pf-v6-c-card__title pf-v6-u-display-flex pf-v6-u-align-items-center pf-v6-u-justify-content-center"
                                  >
                                    {{ with .icon }}
                                      <img
                                        alt="Logo"
                                        src="{{ . }}"
                                        class="pf-v6-x-c-project__icon"
                                      />
                                    {{ end }}
                                    <span
                                      class="pf-v6-u-mr-sm pf-v6-c-card__title-text pf-v6-x-u-color-light-100"
                                      >{{ .title | truncate 18 }}</span
                                    >
                                  </div>
                                  <div
                                    class="pf-v6-u-display-flex pf-v6-u-align-items-center pf-v6-u-justify-content-center pf-v6-u-font-size-sm pf-v6-u-ml-sm"
                                  >
                                    <i
                                      class="fas fa-calendar-alt"
                                      aria-hidden="true"
                                    ></i>
                                    <span class="pf-v6-u-ml-sm"
                                      >{{ .date | time.Format ":date_long" }}</span
                                    >
                                  </div>
                                </div>
                              </div>

                              <div class="pf-v6-c-card__body">
                                <p class="pf-v6-u-mb-md">{{ .description }}</p>

                                <div class="pf-v6-c-label-group">
                                  <div class="pf-v6-c-label-group__main">
                                    <ul
                                      class="pf-v6-c-label-group__list"
                                      role="list"
                                      aria-label="Topic list"
                                    >
                                      {{ range first 3 .topics }}
                                        <li
                                          class="pf-v6-c-label-group__list-item"
                                        >
                                          <span
                                            class="pf-v6-c-label pf-v6-c-label--transparent"
                                          >
                                            <span
                                              class="pf-v6-c-label__content"
                                            >
                                              <span class="pf-v6-c-label__text">
                                                {{ . }}
                                              </span>
                                            </span>
                                          </span>
                                        </li>
                                      {{ end }}
                                    </ul>
                                  </div>
                                </div>
                              </div>
                              <div
                                class="pf-v6-c-card__footer pf-v6-u-display-flex pf-v6-u-align-items-center pf-v6-u-justify-content-space-between pf-v6-u-flex-direction-column pf-v6-u-flex-direction-row-on-sm pf-v6-x-u-color-light-200 pf-v6-u-font-size-sm"
                              >
                                <div
                                  class="pf-v6-u-display-flex pf-v6-u-align-items-center pf-v6-u-mb-md pf-v6-u-mb-0-on-sm"
                                >
                                  <div
                                    class="pf-v6-u-display-flex pf-v6-u-align-items-center pf-v6-u-justify-content-center pf-v6-u-mr-sm"
                                  >
                                    <i
                                      class="fas fa-language"
                                      aria-hidden="true"
                                    ></i>
                                    <span class="pf-v6-u-ml-sm"
                                      >{{ .language }}</span
                                    >
                                  </div>
                                  <div
                                    class="pf-v6-u-display-flex pf-v6-u-align-items-center pf-v6-u-justify-content-center"
                                  >
                                    <i
                                      class="fas fa-balance-scale"
                                      aria-hidden="true"
                                    ></i>
                                    <span class="pf-v6-u-ml-sm"
                                      >{{ .license }}</span
                                    >
                                  </div>
                                </div>
                                <div
                                  class="pf-v6-u-display-flex pf-v6-u-align-items-center"
                                >
                                  <div
                                    class="pf-v6-u-display-flex pf-v6-u-align-items-center pf-v6-u-justify-content-center pf-v6-u-mr-sm"
                                  >
                                    <i
                                      class="fas fa-star"
                                      aria-hidden="true"
                                    ></i>
                                    <span class="pf-v6-u-ml-sm"
                                      >{{ .stars }}</span
                                    >
                                  </div>
                                  <div
                                    class="pf-v6-u-display-flex pf-v6-u-align-items-center pf-v6-u-justify-content-center pf-v6-u-mr-sm"
                                  >
                                    <i
                                      class="fas fa-code-branch"
                                      aria-hidden="true"
                                    ></i>
                                    <span class="pf-v6-u-ml-sm"
                                      >{{ .forks }}</span
                                    >
                                  </div>
                                  <div
                                    class="pf-v6-u-display-flex pf-v6-u-align-items-center pf-v6-u-justify-content-center"
                                  >
                                    <i
                                      class="fas fa-dot-circle"
                                      aria-hidden="true"
                                    ></i>
                                    <span class="pf-v6-u-ml-sm"
                                      >{{ .issues }}</span
                                    >
                                  </div>
                                </div>
                              </div>
                            </div>
                          </a>
                        </div>
                      {{ end }}
                    </div>
                  </li>
                {{ end }}
              </ul>
            </div>
          </div>
        </div>
      </section>
    {{ end }}

    {{ partial "footer" . }}
  </main>
{{ end }}
