{{ define "main" }}
  <main
    class="pf-c-page__main pf-c-page__main--with-overlay pf-x-u-blur pf-x-u-transparent {{ if or .Site.Data.effects.fireworks .Site.Data.effects.snowfall .Site.Data.effects.rainfall }}
      pf-c-page__main--with-effects{{ if not .Site.Data.effects.blur }} pf-c-page__main--with-effects--without-blur{{ end }}
    {{ end }}"
    tabindex="-1"
    id="main"
  >
    <section
      class="pf-c-page__main-section pf-m-fill pf-x-u-transparent pf-c-page__main-section--max-width pf-u-px-0 pf-u-pb-0 pf-u-pt-0 pf-u-pt-md-on-lg"
    >
      <div class="pf-l-grid pf-m-gutter">
        <div class="pf-l-grid__item pf-m-12-col pf-m-8-col-on-lg">
          <div class="pf-c-card pf-c-card--full-width">
            <div class="pf-c-card__header pf-u-px-0 pf-u-pt-0 pf-u-pb-sm">
              <div class="pf-c-card__header-main pf-u-w-100">
                <img
                  src="{{ ((index .Resources 0).Resize `1024x`).Permalink }}"
                  alt="{{ .Params.HeaderAlt }}"
                  class="pf-u-w-100 pf-u-h-100 pf-x-c-article__header"
                />
              </div>
            </div>
            <div class="pf-c-card__title">
              <h1 class="pf-u-font-size-4xl pf-u-pb-sm">{{ .Title }}</h1>
              <p>{{ .Params.Excerpt }}</p>
            </div>
            <div class="pf-c-card__body">
              <article>
                <header
                  class="pf-l-flex pf-m-justify-content-space-between pf-m-space-items-sm pf-u-pb-md"
                >
                  <div class="pf-l-flex pf-m-space-items-sm pf-u-color-200">
                    <span
                      >Originally published on
                      {{ .Date | time.Format ":date_long" }}</span
                    >
                    <span aria-hidden="true" class="pf-u-color-200">·</span>
                    <span
                      >Last updated on
                      {{ .Params.Updated | time.Format ":date_long" }}</span
                    >
                  </div>
                  <div class="pf-c-chip-group pf-u-mt-md">
                    <div class="pf-c-chip-group__main">
                      <ul
                        class="pf-c-chip-group__list"
                        role="list"
                        aria-label="Keywords"
                      >
                        {{ range first 3 .Keywords }}
                          <li class="pf-c-chip-group__list-item">
                            <div class="pf-c-chip">
                              <span class="pf-c-chip__text">{{ . }}</span>
                            </div>
                          </li>
                        {{ end }}
                      </ul>
                    </div>
                  </div>
                </header>

                <main class="pf-c-page__main pf-c-content">
                  {{ .Content }}
                </main>
              </article>
            </div>
            <div class="pf-c-card__footer">
              <script
                src="https://giscus.app/client.js"
                data-repo="{{ .Site.Data.integrations.giscus.repo }}"
                data-repo-id="{{ .Site.Data.integrations.giscus.repoID }}"
                data-category="{{ .Site.Data.integrations.giscus.category }}"
                data-category-id="{{ .Site.Data.integrations.giscus.categoryID }}"
                data-mapping="{{ .Site.Data.integrations.giscus.mapping }}"
                data-reactions-enabled="{{ .Site.Data.integrations.giscus.reactionsEnabled }}"
                data-emit-metadata="{{ .Site.Data.integrations.giscus.emitMetadata }}"
                data-theme="{{ .Site.Data.integrations.giscus.theme }}"
                data-lang="{{ index (split .Site.LanguageCode `-`) 0 }}"
                crossorigin="anonymous"
                async
              ></script>
              <noscript
                >Please enable JavaScript to view the comments powered by
                giscus.</noscript
              >
            </div>
          </div>
        </div>
        <div
          class="pf-l-grid__item pf-m-12-col pf-m-4-col-on-lg pf-c-grid--tweets"
        >
          {{ if .Site.Data.integrations.twitter.enabled }}
            {{ partial "twitterfeed" (dict "ID" "twitterfeed" "Username" .Site.Data.integrations.twitter.username "Warning" .Site.Data.integrations.twitter.warning "BaseURL" .Site.BaseURL ) }}
          {{ else }}
            {{ partial "mastodonfeed" (dict "ID" "mastodonfeed" "Username" .Site.Data.integrations.mastodon.username "BaseURL" .Site.BaseURL ) }}
          {{ end }}

          {{ $related := .Site.RegularPages.Related . | first 5 }}
          {{ if gt (len $related) 0 }}
            <div
              class="pf-c-card pf-c-card--full-width pf-u-mt-md pf-c-card--see-also pf-c-card--transparent"
            >
              <div class="pf-c-card__title">See also</div>
              <div class="pf-c-card__body">
                <div class="pf-l-gallery pf-m-gutter">
                  {{ range $related }}
                    <div class="pf-l-gallery__item">
                      <a
                        href="{{ .Permalink }}"
                        class="pf-u-color-100 pf-x-m-no-decoration"
                      >
                        <div
                          class="pf-c-card pf-m-compact pf-m-hoverable-raised pf-u-h-100"
                        >
                          <div class="pf-c-card__title">{{ .Title }}</div>
                          <div class="pf-c-card__body pf-u-pb-sm">
                            {{ .Params.Excerpt }}
                          </div>
                          <div class="pf-c-card__footer pf-u-color-200">
                            {{ .Date | time.Format ":date_long" }}
                          </div>
                        </div>
                      </a>
                    </div>
                  {{ end }}
                </div>

                <a href="/articles" class="pf-c-button pf-m-link pf-u-mt-lg">
                  <span class="pf-c-button__icon pf-m-start">
                    <i class="fas fa-arrow-right" aria-hidden="true"></i> </span
                  >All articles</a
                >
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </section>

    {{ partial "footer" . }}
  </main>
{{ end }}
