{{ define "main" }}
  <article>
    <header>
      <figure>
        <img
          src="{{ ((index .Resources 0).Resize `1024x`).Permalink }}"
          alt="{{ .Params.HeaderAlt }}"
          style="width: 100%; height: 300px; object-fit: cover;"
        />

        <figcaption>{{ .Params.HeaderAlt }}</figcaption>
      </figure>

      <p>{{ .Params.Excerpt }}</p>
      <dl>
        <dt>Originally published at</dt>
        <dd>{{ .Date | time.Format ":date_long" }}</dd>

        <dt>Last updated at</dt>
        <dd>{{ .Params.Updated | time.Format ":date_long" }}</dd>

        <dt>Written by</dt>
        <dd>{{ .Site.Params.Meta.Author }}</dd>

        <dt>Estimated time to read</dt>
        <dd>{{ .ReadingTime }} minutes</dd>

        <dt>Keywords</dt>
        <dd>
          <ul>
            {{ range first 5 .Keywords }}
              <li>{{ . }}</li>
            {{ end }}
          </ul>
        </dd>
      </dl>
    </header>

    <main>
      {{ .Content }}
    </main>

    <footer>
      {{ $related := .Site.RegularPages.Related . | first 5 }}
      {{ if gt (len $related) 0 }}
        <h2>See also</h2>
        <ul>
          {{ range $related }}
            <li>
              <a href="{{ .Permalink }}">{{ .Date }} | {{ .Title }}</a>
            </li>
          {{ end }}
        </ul>
      {{ end }}


      <h2>Comments</h2>
      <script
        src="https://giscus.app/client.js"
        data-repo="{{ .Site.Params.Comments.Repo }}"
        data-repo-id="{{ .Site.Params.Comments.RepoID }}"
        data-category="{{ .Site.Params.Comments.Category }}"
        data-category-id="{{ .Site.Params.Comments.CategoryID }}"
        data-mapping="{{ .Site.Params.Comments.Mapping }}"
        data-reactions-enabled="{{ .Site.Params.Comments.ReactionsEnabled }}"
        data-emit-metadata="{{ .Site.Params.Comments.EmitMetadata }}"
        data-theme="{{ .Site.Params.Comments.Theme }}"
        data-lang="{{ index (split .Site.LanguageCode `-`) 0 }}"
        crossorigin="anonymous"
        async
      ></script>
      <noscript
        >Please enable JavaScript to view the comments powered by
        giscus.</noscript
      >
    </footer>
  </article>
{{ end }}
