{{ define "main" }}
  <main
    class="pf-v6-c-page__main pf-v6-c-page__main--with-overlay {{ if .Site.Data.effects.grid }}
      pf-v6-c-page__main--with-overlay--grid
    {{ end }} pf-v6-x-u-blur pf-v6-x-u-transparent {{ if or .Site.Data.effects.fireworks .Site.Data.effects.snowfall .Site.Data.effects.rainfall }}
      pf-v6-c-page__main--with-effects{{ if not .Site.Data.effects.blur }}
        pf-v6-c-page__main--with-effects--without-blur
      {{ end }}
    {{ end }}"
    tabindex="-1"
    id="main"
  >
    <section
      class="pf-v6-c-page__main-section pf-m-fill pf-v6-x-u-transparent pf-v6-c-page__main-section--max-width pf-v6-u-px-0 pf-v6-u-pb-0 pf-v6-u-pt-0 pf-v6-u-pt-md-on-lg"
    >
      <div class="pf-v6-l-grid pf-m-gutter">
        <div class="pf-v6-l-grid__item pf-m-12-col pf-m-8-col-on-lg">
          <div class="pf-v6-c-card pf-v6-c-card--full-width">
            <div
              class="pf-v6-c-card__header pf-v6-u-px-0 pf-v6-u-pt-0 pf-v6-u-pb-sm"
            >
              <div class="pf-v6-c-card__header-main pf-v6-u-w-100">
                <img
                  src="{{ ((index .Resources 0).Resize `1024x`).Permalink }}"
                  alt="{{ .Params.HeaderAlt }}"
                  class="pf-v6-u-w-100 pf-v6-u-h-100 pf-v6-x-c-article__header"
                />
              </div>
            </div>
            <div class="pf-v6-c-card__title">
              <h1
                class="pf-v6-u-font-size-4xl pf-v6-u-pb-sm pf-v6-c-card__title-text"
              >
                {{ .Title }}
              </h1>

              {{ if .Params.Excerpt }}
                <p>{{ .Params.Excerpt }}</p>
              {{ end }}
            </div>
            <div class="pf-v6-c-card__body">
              <article>
                <header
                  class="pf-v6-l-flex pf-m-justify-content-space-between pf-m-space-items-sm pf-v6-u-pb-md"
                >
                  <div
                    class="pf-v6-l-flex pf-m-space-items-sm pf-v6-u-color-200"
                  >
                    <span
                      >Originally published on
                      {{ .Date | time.Format ":date_long" }}</span
                    >
                    <span aria-hidden="true" class="pf-v6-u-color-200">·</span>
                    <span
                      >Last updated on
                      {{ .Params.Updated | time.Format ":date_long" }}</span
                    >
                  </div>
                  <div class="pf-v6-c-label-group pf-v6-u-mt-md">
                    <div class="pf-v6-c-label-group__main">
                      <ul
                        class="pf-v6-c-label-group__list"
                        role="list"
                        aria-label="Keywords"
                      >
                        {{ range first 3 .Keywords }}
                          <li class="pf-v6-c-label-group__list-item">
                            <span class="pf-v6-c-label">
                              <span class="pf-v6-c-label__content">
                                <span class="pf-v6-c-label__text">
                                  {{ . }}
                                </span>
                              </span>
                            </span>
                          </li>
                        {{ end }}
                      </ul>
                    </div>
                  </div>
                </header>

                <main class="pf-v6-c-page__main pf-v6-c-content">
                  {{ .Content }}
                </main>
              </article>
            </div>
            <div class="pf-v6-c-card__footer">
              <script
                src="https://giscus.app/client.js"
                data-repo="{{ .Site.Data.integrations.giscus.repo }}"
                data-repo-id="{{ .Site.Data.integrations.giscus.repoID }}"
                data-category="{{ .Site.Data.integrations.giscus.category }}"
                data-category-id="{{ .Site.Data.integrations.giscus.categoryID }}"
                data-mapping="{{ .Site.Data.integrations.giscus.mapping }}"
                data-reactions-enabled="{{ .Site.Data.integrations.giscus.reactionsEnabled }}"
                data-emit-metadata="{{ .Site.Data.integrations.giscus.emitMetadata }}"
                data-theme="{{ .Site.Data.integrations.giscus.theme }}"
                data-lang="{{ index (split .Site.LanguageCode `-`) 0 }}"
                crossorigin="anonymous"
                async
              ></script>
              <noscript
                >Please enable JavaScript to view the comments powered by
                giscus.</noscript
              >
            </div>
          </div>
        </div>
        <div
          class="pf-v6-l-grid__item pf-m-12-col pf-m-4-col-on-lg pf-v6-c-grid--tweets"
        >
          {{ if .Site.Data.integrations.bluesky.enabled }}
            {{ partial "blueskyfeed" (dict "ID" "blueskyfeed" "Username" .Site.Data.integrations.bluesky.username "Construction" .Site.Data.integrations.bluesky.construction "BaseURL" .Site.BaseURL ) }}
          {{ else if .Site.Data.integrations.twitter.enabled }}
            {{ partial "twitterfeed" (dict "ID" "twitterfeed" "Username" .Site.Data.integrations.twitter.username "Warning" .Site.Data.integrations.twitter.warning "Construction" .Site.Data.integrations.twitter.construction "BaseURL" .Site.BaseURL ) }}
          {{ else }}
            {{ partial "mastodonfeed" (dict "ID" "mastodonfeed" "Username" .Site.Data.integrations.mastodon.username "Construction" .Site.Data.integrations.mastodon.construction "BaseURL" .Site.BaseURL ) }}
          {{ end }}

          {{ $related := .Site.RegularPages.Related . | first 5 }}
          {{ if gt (len $related) 0 }}
            <div
              class="pf-v6-c-card pf-v6-c-card--full-width pf-v6-u-mt-md pf-v6-c-card--see-also pf-v6-c-card--transparent"
            >
              <div class="pf-v6-c-card__title">
                <div class="pf-v6-c-card__title-text">See Also</div>
              </div>
              <div class="pf-v6-c-card__body">
                <div class="pf-v6-l-gallery pf-m-gutter">
                  {{ range $related }}
                    <div class="pf-v6-l-gallery__item">
                      <a
                        href="{{ .Permalink }}"
                        class="pf-v6-u-color-100 pf-v6-x-m-no-decoration"
                      >
                        <div
                          class="pf-v6-c-card pf-m-compact pf-m-clickable pf-v6-u-h-100"
                        >
                          <div class="pf-v6-c-card__title">
                            <div class="pf-v6-c-card__title-text">
                              {{ .Title }}
                            </div>
                          </div>
                          {{ if .Params.Excerpt }}
                            <div class="pf-v6-c-card__body pf-v6-u-pb-sm">
                              {{ .Params.Excerpt }}
                            </div>
                          {{ end }}
                          <div class="pf-v6-c-card__footer pf-v6-u-color-200">
                            {{ .Date | time.Format ":date_long" }}
                          </div>
                        </div>
                      </a>
                    </div>
                  {{ end }}
                </div>

                <a
                  href="/articles"
                  class="pf-v6-c-button pf-m-link pf-v6-u-mt-lg"
                >
                  <span class="pf-v6-c-button__icon pf-m-start">
                    <i class="fas fa-arrow-right" aria-hidden="true"></i> </span
                  >All articles</a
                >
              </div>
            </div>
          {{ end }}
        </div>
      </div>
    </section>

    {{ partial "footer" . }}
  </main>
{{ end }}
